@model meditatii.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Ai uitat parola?";
}
<script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit&hl=en'></script>
<script type="text/javascript">
    var isCaptchaOk = false;
    var verifyCallback = function (response) {
        isCaptchaOk = true;
    };

    var onloadCallback = function () {
        isCaptchaOk = false;
        grecaptcha.render('recaptcha', {
            'sitekey': '6LcghYIUAAAAAGTapKL9kPFy2r9KrEzqdrWov4zT',
            'callback': verifyCallback
        });
    };

    function validate() {
        //return true;
        //check captcha
        if (!isCaptchaOk) {
            alert("Please enter captcha!");
            return false;
        }
    }

</script>
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", onsubmit = "return validate()" }))
{
    @Html.AntiForgeryToken()
    <h4>Introdu adresa de email</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <p>
        <div class="g-recaptcha" id="recaptcha"></div>
    </p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Continua" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
