@model meditatii.Models.RegisterViewModel
@{
    ViewBag.Title = "Înregistrează-te";

    string type = string.IsNullOrEmpty(Request.QueryString["cont"]) ? "elev" : Request.QueryString["cont"];

    if (type != "elev" && type != "profesor")
    {
        type = "elev";
    }
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(m => m.Role, new { id = "role", value = (type == "elev" ? "2": "1") })
    @Html.AntiForgeryToken()
    <h4>Completează câmpurile de mai jos pentru a crea un cont..</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Inregistreazate ca si:</label>
        <div class="col-md-10">
            <div class="btn-group">
                <button name="flowSwitchBtn" class="btn btn-default" type="button" onclick="setType('elev');">
                    <span class="d-none d-sm-inline">Elev</span>
                </button>
                <button name="flowSwitchBtn" class="btn btn-default" type="button" onclick="setType('profesor');">
                    <span class="d-none d-sm-inline">Profesor</span>
                </button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}
    <script>
        function setType(type)
        {
            $('#role').val(type == "elev" ? 2 : 1); 
        }
    </script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
