@model meditatii.Models.ContactViewModel
@{
    ViewBag.Title = "Contact";
}
<script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit&hl=en'></script>
<script type="text/javascript">
    var isCaptchaOk = false;
    var verifyCallback = function (response) {
        isCaptchaOk = true;
    };

    var onloadCallback = function () {
        isCaptchaOk = false;
        grecaptcha.render('recaptcha', {
            'sitekey': '6LcghYIUAAAAAGTapKL9kPFy2r9KrEzqdrWov4zT',
            'callback': verifyCallback
        });
    };

    function validate() {
        //return true;
        //check captcha
        if (!isCaptchaOk) {
            alert("Please enter captcha!");
            return false;
        }
    }

</script>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

    <div class="row text-center">
     
        <div class="col-md-12">
            <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5390319007504241"
     data-ad-slot="5486709324"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
        
    </div>

    <hr />

<meditatii-app>

</meditatii-app>

<address>
    Orice problemă ai întâmpina legat de platforma <a href="/">eMeditatii.ro</a>, nu ezita să ne scrii la adresa de e-mail <b><a href="mailto:hello@emeditatii.ro">hello@emeditatii.ro</a></b>, şi-ţi vom răspunde în cel mai scurt timp posibil.
</address>

@if (ViewBag.MessageSuccess != null && ViewBag.MessageSuccess)
{
    <div style="color:red;font-size:24px;">Mesajul a fost trimis cu succes.</div>
}

@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", onsubmit = "return validate()" }))
{
    @Html.AntiForgeryToken()
    <h3>Completează câmpurile de mai jos pentru a trimite un mesaj..</h3>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Message, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
        </div>
    </div>
    <p>
        <div class="g-recaptcha" id="recaptcha"></div>
    </p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Trimite mesajul" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

    <div class="row text-center">
     
        <div class="col-md-12">
            <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5390319007504241"
     data-ad-slot="5486709324"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
        
    </div>

    <hr />